:root{
    --color-corp: #00AAD3;
}
body{
    font-family: "Inter", sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
.text-corp{
    color: var(--color-corp);
}
.bg-corp{
    background: var(--color-corp);
}
.w-fit-content{
    width: fit-content;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.btn-offcanvas{
    width: 160px;
}
.offcanvas-burger{
    background: url(icons/burger-canvas.svg) no-repeat center/cover;
    width: 18px;
    height: 13px;
}
.dropdown-toggle::after{
    display: none;
}
@media(max-width: 576px){
    .logo{
        width: 150px;
    }
}