:root{
    --color-corp: #00AAD3;
    --box-shadow: 0 1px 8px 0 rgba(22, 33, 54, 0.05);
    --box-shadow-2:  0 2px 4px 0 rgba(22, 33, 54, 0.32);
}
body{
    font-family: "Inter", sans-serif;
    background: #F5FAFF;
}
a{
    color: inherit;
    text-decoration: none;
}
.btn-corp{
    font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
    color: white;
    background: var(--color-corp);
    width: fit-content;
}
.fs-title{
    font-size: clamp(1.375rem, 1.075rem + 1.5vw, 2.875rem);
}
.fs-paragraph{
    font-size: clamp(1rem, 0.875rem + 0.625vw, 1.625rem);
}
.fs-paragraph-2{
    font-size: clamp(1rem, 0.925rem + 0.375vw, 1.375rem);
}
.fs-span{
    font-size: clamp(0.75rem, 0.7rem + 0.25vw, 1rem);
}
.text-corp{
    color: var(--color-corp);
}
.bg-corp{
    background: var(--color-corp);
}
.w-fit-content{
    width: fit-content !important;
}
.box-shadow{
    box-shadow: var(--box-shadow);
}
.box-shadow-2{
    box-shadow: var(--box-shadow-2);
}
.navbar-toggler:focus {
    box-shadow: none;
}
.btn-offcanvas{
    width: 160px;
}
.offcanvas-burger{
    background: url(icons/burger-canvas.svg) no-repeat center/cover;
    width: 18px;
    height: 13px;
}
.dropdown-toggle::after{
    display: none;
}
.banner-info{
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}
.banner-info-container{
    background: #00a9d3bf;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: skew(354deg, 354deg);
}
.icon-height{
    height: 80px;
}
.icon-height-2{
    height: 60px;
}
.bg-xl-white{
    background: white;
}
.border-left{
    position: relative;
}
.row .col:not(:first-child) .border-left::after {
    content: '';
    position: absolute;
    height: 70%;
    width: 1px;
    background: #d9d9d984;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.slider-btn-left, .slider-btn-right{
    top: 50%;
    transform: translateY(-50%);
}
.slider-btn-left{
    left: -5%;
}
.slider-btn-right{
    right: -5%;
}
.input-control{
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    width: 90px;
}
.w-10{
    width: 10%;
}
.form-check-input{
    width: 1.2rem;
    height: 1.2rem;
}
.form-check-input:checked {
    background-color: white; /* Фон чекбокса (можно оставить белым или изменить) */
    border-color: #00AAD3; /* Цвет рамки */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%2300AAD3' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.form-check-input:focus {
    box-shadow: none;
}
@media(max-width: 1200px){
    .bg-xl-white{
        background: unset;
    }
}
@media(max-width: 990px){
    .logo-white{
        width: 150px;
    }
    .h-sm-350{
        height: 350px;
    }
    .banner-info{
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        left:0;
    }
}
@media(max-width: 576px){
    .logo{
        width: 150px;
    }
    .h-sm-350{
        height: 350px;
    }
    .banner-info{
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        left:0;
    }
    .slider-btn-left{
        left: 0;
    }
    .slider-btn-right{
        right: 0;
    }
    .icon-height{
        height: 150px;
    }
}